[user]
	name = Andrey Lushnikov
	email = lushnikov@chromium.org
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
        hist = log --pretty=format:\"%h %ad | %s %Cblue%d%Creset [%an]\" --graph --date=short
[core]
	editor = vim -c \":normal gg\"
        whitespace = trailing-space,space-before-tab
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = auto
[http]
	cookiefile = /usr/local/google/home/lushnikov/.gitcookies
[color "diff-highlight"]
	oldNormal = red 
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
